<%- include("header"); -%>
 
<div class="container">

<div class="box" id="heading">
    <h2 class="h2"> <%= listTitle %> <img class="image" src="../css/images/icon.png"> </h2>
   <%   newListItems.forEach(function(item){ %>
 <form action="/delete" method="post">
   <div class="item">
   <input type="checkbox" name="checkbox" value="<%=item._id%>"   onchange="this.form.submit()">  
    <p> <%= item.name %> </p>  
 </div>
  <input type="hidden" name="listName" value="<%= listTitle %>"></input>
 </form>  
   <%})%>

<form class="item" action="/" method="post">
  <input type="text" name="newItem" placeholder="Add your to-do" autocomplete="off">
  <button class="button" type="submit" name="list" value="<%= listTitle %>">ADD</button>
</form>
  </ul>      
  </div>
</div>
</div>

<%- include("footer"); -%>